:root {
    --primary: rgb(11, 12, 15);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
  }
body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color:black;
    color: white;
    font-family: 'Radio Canada', sans-serif;
    text-align: center;
}
header {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  }
  header img{
    padding:5px;
    width: 300px;
    margin :50px 30px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
#profile-image{
    border-radius: 8px;
    border: 6px solid red;
    opacity: 1;
    filter: grayscale(100%);
}

  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  header h1{
      font-family: 'monospace';
      font-weight: bolder;
      text-decoration: none;
      font-size: 3vw;
      color: white;
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
  .secondary-heading{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size:150%;
    font-weight: bolder;
  }
