:root {
  background-color: rgba(201, 76, 76, 0.3);
--color:blue;
--font-family: "Roboto", sans-serf;
}
nav{
  display:flex;
  justify-content:space-around;
  align-items:center;
  background-color:dimgrey;
  box-shadow: 0 3px 5px rgba(227, 184, 184, 0.1);
  opacity:70%;
  padding-bottom:5px;
  height:10vh;
  border-radius:30px ;
}
.primary-heading{
  color:whitesmoke;
  font-weight:bolder;
  font-size:36px;
  font-family: "Trirong", serif;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
nav a:hover {
  color:darkgray;
  }
nav p{
    color:whitesmoke;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
nav ul {
    display: flex;
    justify-content:flex-end;
    align-items:right;
    gap: 1.9rem;
  }
nav ul li a{
    font-weight:700;
    font-size:1.5em;
    font-family: "Trirong", serif;
    color:whitesmoke;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
 
section{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-content: center;
  background-color:rgb(145, 109, 115);
  gap: 2.5rem;
  border-radius: 30px;
  margin:10px;
}
article{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width:40%;
  height:60%;
  box-shadow: 0px 2px 15px 2px #8b8eaf;
  border-radius: 30px;
  padding-bottom:10px;
  padding-top:20px;
  margin:25px;

}
section img{
    padding:auto;
    width: 300px;
    height:300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin-bottom: 25px;
    margin-top: 25px; */

  
}
.profile-image{
    border-radius: 8px;
    opacity: 1;
    filter: grayscale(50%);
    width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(186, 0, 0, 0.5);
  }
.secondary-heading{
    color: white;
    font-weight: bolder;
    font-size:xx-large;
  }
#About{
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    line-height:10px;
    font-size:25px;
    height:50%;
  }
.para{
  font-size:20px;
  color:cornsilk;
  font-family: "Trirong", serif;
  line-height: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:center;
}
.container{
display: flex;
flex-direction:column;
}
.project1{
  line-height:25px;
  padding: 0.3rem 0;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align:center;
  box-shadow: 0px 2px 15px 2px #8b8eaf;
}
#Projects{
flex-grow:3;
}
#large-image{
width:90%;
height: 90%;
}
.container-2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  background-color:dimgray;
  border-radius:30px ;
}
.secondary-heading{
  font-size:30px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  padding-top:15px;
  padding-bottom: 15px;
}
.projectslink{
  position:relative;
  z-index: 4;
  color: darkblue;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.Contact-Section{
display:inline;
color:darkblue;
font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
margin:25px;
padding:20px;
}
footer ul li{
display: inline;
margin:10px;
padding:10px;
font-weight: 800;

}
.placeholderimage{
  width:250px;
  height:250px;
  border-radius:10px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
section{flex-direction: column;
}
article{
  width:100%;
}
.container{
flex-direction:column;
}
nav ul{
flex-direction: column;
}
h1{
  width: 70%;
  padding-left: 0px;
  margin-right:0px;
}
nav{
  flex-direction:column;
  justify-content: center;
}
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  nav {
    background-color:cadetblue;
  }
  }
  #large-image{
    width:fit-content;
  }
 .container-2{
   width:90%;
 }
/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  nav {
    background-color: #bb8588;
  }
}
